.boss{
    display: flex;
}

.card-div{
    display: flex;
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    width: 600px;
    height: 170px;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 100px;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-family: var(--font1);
    background-color: rgb(244, 247, 248);
    box-shadow: 2px 5px rgb(231, 244, 248);
    transition: transform 0.4s;
  }
  .card:hover {
    transform: scale(1.05);
  }

  .card1 {
    display: flex;
    width: 600px;
    height: 170px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 60px;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    font-family: var(--font1);
    background-color: rgb(244, 247, 248);
    box-shadow: 2px 5px rgb(231, 244, 248);
    transition: transform 0.4s;
  }
  .card1:hover {
    transform: scale(1.05);
  }


  .image-div{ 
    align-self: center;
    min-height: 50%;
  }

  .image{
    height: 160px;
    width: 300px;
    margin-top: 20px;
  }

  .content {
    flex: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  .content h3 {
    margin: 0;
    padding-bottom: 5px;
    align-self: center;
  }

  .content p {
    margin: 0;
  }

  .content label {
    align-self: flex-start;
    margin-bottom: 10px;
    color: blue;
    cursor: pointer;
  }
  .p{
    font-family: var(--font2);
    font-size: 14px ;
   
  }
  .nothing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    font-family: var(--font2);
    background-color: rgb(244, 247, 248);
  }

  .part {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .part1 {
    margin-bottom: 20px;
    width: 40%;
    margin-right: 130px;
    margin-left: 50px;
  }

  .part2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .li {
    margin-left: 15px;
    flex-basis: calc(50% - 20px); 
    padding: 20px;
   background-color: white;
   box-shadow: 2px 5px rgb(231, 244, 248);
    border-radius: 8px;
    text-align: center;
  }
  .clr{
    color: rgb(19, 19, 173);
    font: bolder;
  }
  .h{
    padding-bottom: 30px;
  }
  
  .a-brand {
    display: flex; 
    width: 200px;
    height: 200px;
    overflow: hidden; 
    border-radius: 5px;
    margin-left: 80px;
    background-color: rgb(244, 247, 248);
    box-shadow: 2px 5px rgb(231, 244, 248);
    transition: transform 0.4s;
    margin-bottom: 10px;
   
}
.a-brand:hover{
  transform: scale(1.1);
}

.a-brand .branding {
    width: 100%;
    height: 100%;
    
}
.d-brand{
  display: flex;
  margin-left: 160px; 
  margin-top: 40px;
  flex-wrap: wrap; 

}
.s-div{
  position: relative;
  height: 280px;
  margin-bottom:80px;
}
.brand-info {
  position: absolute;
  color: rgb(15, 13, 13);
  padding: 10px;
  width: 100%;
  text-align: center;
  
}
.brand-info h3{
  font-family: var(--font1);
}

